//Figure
$figure-display: block !default;
$figure-margin-top: $elements-margin-top !default;
$figure-margin-bottom: $elements-margin-bottom !default;
$figure-margin-left: $elements-margin-left !default;
$figure-margin-right: $elements-margin-right !default;
$figure-margin-for-screens: $elements-margin-for-screens !default;
//@mixin figure-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Figure caption
$figure-caption-display: block !default;
$figure-caption-margin-top: $elements-margin-top !default;
$figure-caption-margin-bottom: $elements-margin-bottom !default;
$figure-caption-margin-left: $elements-margin-left !default;
$figure-caption-margin-right: $elements-margin-right !default;
$figure-caption-margin-for-screens: $elements-margin-for-screens !default;
//@mixin figure-caption-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Figure Img
$figure-img-margin-top: 0 !default;
$figure-img-margin-bottom: 0 !default;
$figure-img-margin-left: null !default;
$figure-img-margin-right: null !default;
//@mixin figure-img-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Figure Figure caption
$figure-figure-caption-margin-top: null !default;
$figure-figure-caption-margin-bottom: 0 !default;
$figure-figure-caption-margin-left: null !default;
$figure-figure-caption-margin-right: null !default;
//@mixin figure-figure-caption-extra-style() {} //Create this mixin before import module when you want add some special style for element